*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh ;
}

header{
    position: fixed;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    width: 100vw;
    /* display: none; */
}

h1{
  color: white;
}

form{
    position: fixed;
    bottom: 0;
    height: 5rem;
    background-color: white;
    display: flex;
    align-items: center;
    width: 100vw;
}

#userInput{
    font-size: 3rem;
    height: 5rem;
    /* border: 0; */
    background-color: rgb(224, 246, 255);
    flex: 1;
}

.submitButton{
    font-size: 3rem ;
    height: 5rem;
    /* border: 0; */
    background-color: blue;
    /* flex: 10; */
    color: aliceblue;
    padding: 0 0.5rem;
    cursor: pointer;
    transition: .5s;
}

ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5rem 0;
}

li{
    background-color: blue;
    color: aliceblue;
    margin: 0.5rem;
    border-radius: 1rem;
    font-size: 1.5rem;
    padding: 1rem;
    transition: .5s;
}

.submitButton:hover{
    background-color: rgba(0, 0, 180);
    transition: .5s;
}

li:hover{
    background-color: rgba(0, 0, 180);
    margin-left: 2rem;
    transition: .5s;
}